/* Bundled SIL Open Font License fonts. See the two OFL files and README.md. */
@font-face{font-family:"Jersey 10";src:url("Jersey10-Regular.ttf") format("truetype");font-style:normal;font-weight:400;font-display:block}
@font-face{font-family:"IBM Plex Mono";src:url("IBMPlexMono-Regular.ttf") format("truetype");font-style:normal;font-weight:400;font-display:block}
